*{
	margin: 0px;
	padding: 0px;
}

body{
	width: 100%;
	display: flex;
    background: black;
}

.logo{
margin-top: 0px;
position: absolute;
z-index: 3;
opacity: 0.8;
margin-left: 1%;
}

#iconpic:hover{
 animation: bounce 1s ease-in infinite;
}

@keyframes bounce{
  0%, 100%{
    transform: translateY(0px);}
  50%{
    transform: translateY(30px);}
}
  

.front{
margin-top: 50px;
position: absolute;
opacity: 0.8;
color: khaki;
font: bold 25px Comic Sans MS;
margin-left: 150px;
text-shadow: 1px 0px 2px yellow;
}

.front:hover{
  opacity: 1;
  }







